---
import { Icon } from "astro-icon/components";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "https://github.com/CesarZepeda23",
    description: "Creador de la página",
    icon: "fa-brands:github",
  },
];
---

<footer class="relative flex h-40 items-center justify-center bg-black text-white py-6">
  <div class="absolute inset-0 overflow-hidden opacity-20">
    <HeroImage />
  </div>
  <div class="relative w-full px-8 flex flex-col sm:flex-row items-center justify-between">
    <p class="text-sm">© 2024 Eduardo Zepeda. Todos los derechos reservados.</p>
    <ul class="flex items-center gap-4 mt-4 sm:mt-0">
      {
        links.map((link) => (
          <li>
            <a
              class="flex items-center gap-2 text-sm hover:text-gray-300"
              href={link.url}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Icon class="size-6" name={link.icon} />
              <span>{link.description}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</footer>
