---
import { Image } from "astro:assets";
import fotoHeader from "~/assets/DA200787-2.jpg";
import fotonombre from "~/assets/primer1.png";

const widths = [450, 800, 1200];
const sizes = "100vw";
---

<section class="relative h-screen w-full">
  <Image
    class="h-full w-full object-cover"
    src={fotoHeader}
    widths={widths}
    sizes={sizes}
    alt="Encabezado con fondo personalizado"
    loading="eager"
  />
  <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center">
    <Image
      class="w-1/2 md:w-1/3"
      src={fotonombre}
      alt="fer&manuel"
      widths={[300, 600, 900]}
      sizes="50vw"
    />
  </div>
</section>

<style>
  section {
    position: relative;
    height: 100vh;
  }
</style>
