---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import itinerario1 from "~/assets/itinerario1.jpg";
import itinerario2 from "~/assets/itinerario2.jpg";
---

<ContentSection title="" id="itinerario" class="bg-cover bg-center">
  <Fragment slot="lead">
    <h2 class="text-center text-2xl font-semibold text-black animate-fade-in">
      El mejor tipo de amor es el que despierta el alma y nos hace aspirar a más
    </h2>
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">

  </div>
</ContentSection>

<style>
  /* Animación de fade-in */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    animation: fadeIn 10s ease-in-out;
  }
</style>
